.a-group {
  display: flex;
  flex-direction: column;

  &.reversed {
    flex-direction: column-reverse;
  }

  @media screen and (min-width: 90em) {
    &,
    &.reversed {
      flex-direction: row;
    }
  }
}

.a-group__article {
  padding-block: 4.21875rem;
  padding-inline: 1.5rem;

  @media screen and (min-width: 90em) {
    display: grid;
    place-items: center;
  }
}

.a-group__image {
  height: clamp(19.5rem, 2.3rem + 73.3vw, 37.5rem);
}

.a-group__article,
.a-group__image {
  @media screen and (min-width: 90em) {
    flex: 1 1 50%;
    height: 37.5rem;
  }
}
