*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  font: inherit;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}
