.print {
  position: relative;
}

.print__image {
  position: absolute;
  inset: 0;
  z-index: -1;

  width: 100%;
  height: 100%;
  object-fit: cover;
}

.print__body {
  margin-block-start: 24.75rem;
  text-align: center;
  max-width: 21.1875rem;
  margin-inline: auto;
}

.print__heading {
  margin-block-end: 2rem;

  font-size: var(--fs-heading-300);
  font-weight: var(--fw-heading);
  line-height: var(--lh-heading);
  letter-spacing: var(--ls-heading-300);
}

.print__text {
  font-size: var(--fs-body-300);
  font-weight: var(--fw-body);
  line-height: var(--lh-body-300);
  letter-spacing: var(--ls-body-300-2);
}
